.container {
  width: 100%;
  margin: 0;
  padding: 0;

}

.hero img {
  border-radius: 0px;
}

aside.right, aside.left{
  text-align: center;
  float: inherit;
}

.left img, .right img {
	margin: -30px 0 0 0;
	padding-bottom: 10px;
}

section.contact, section.intro{
  text-align: center;
}
